# Data Science Tools and EcoSystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives

**Objectives:**

- **List popular languages for Data Science:**
  Explore and understand programming languages commonly used in the field of Data Science.

- **Examine key data science libraries:**
  Familiarize yourself with essential libraries like NumPy, Pandas, and Matplotlib for data analysis and visualization.

- **Discover data science tools:**
  Gain insights into various tools utilized in the data science workflow, including database systems, big data tools, and notebook environments.

- **Understand arithmetic expressions:**
  Learn the basics of arithmetic expressions, including addition, subtraction, multiplication, and division.

- **Practice coding examples:**
  Apply the concepts discussed in the notebook by working through coding examples involving calculations and unit conversions.

Some of the popular languages that Data Scientists use are:

1. **Python**: 

2. **R**: 

3. **Java**:

4. **JavaScript (with libraries like D3.js)**:

Some of the commonly used libraries used by Data Scientists include:

1. **NumPy**:

2. **Pandas**:

3. **Matplotlib**:

4. **Scikit-learn**:

5. **PyTorch**:

6. **Plotly**:

Data Science Tools:
|Tools |Description|
|-----|:-----|
|Tensor Flow |Famous for creating deep learning neural networks.  |
|Jupyter Notebook |Enables interactive collaboration among data scientists, data engineers, mathematicians, researchers|
|Apache Spark |Spark provides an interface for programming clusters with implicit data parallelism and fault tolerance|

### Below are a few examples of evaluating arithmetic expressions in Python.

1. **Addition:**
   - The sum of two numbers, for example: `5 + 3`.

2. **Subtraction:**
   - The difference between two numbers, for example: `10 - 4`.

3. **Multiplication:**
   - The product of two numbers, for example: `6 * 7`.

4. **Division:**
   - The quotient of dividing one number by another, for example: `15 / 3`.

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5
# result: 17

17

In [8]:
# Convert 200 minutes to hours
minutes = 200
hours = minutes / 60

# Print the result
print(f"{minutes} minutes is equal to {hours} hours.")

200 minutes is equal to 3.3333333333333335 hours.

## Author:

Syed Muhammad Faizan Alam